*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #20232A;
}
.logo_navbar{
    height: 70px;
    width: 130px;
    margin-left: 200px;
    
}
nav {

    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 5px;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    

}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    
}
nav ul li a{
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-size: 21px;
    transition: 0.3s;
}
nav ul li a:hover{
    color: #A78BFA;
    font-size: 20px;
}
.github_logo{
    height: 60px;
    margin-right: auto;
    margin-right: 200px;
    transition: 0.3s;

}
.github_logo:hover{
    filter: invert(68%) sepia(28%) saturate(676%) hue-rotate(227deg) brightness(200%) contrast(100%);
}
.info{
    display: flex;
    align-items: center;
    padding: 100px;
    justify-content: center;
    padding: 100px 0;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #2C313C;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 150px;
}
.info .text{
    flex: 0 1 40%;
    margin: 0;
}
.porofessor_showcase{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    margin: 0;
}
.info h2{
    color: white;
    font-size: 50px;
    margin-bottom: 10px;
    
}
.info p{
    color: white;
    font-size: 20px;
}

.download-btn {
    display: inline-block;
    background-color: #8B5CF6;
    color: white;
    padding: 15px 25px;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    transition: background 0.2s;
    margin-top: 40px;
    
}
.download-btn:hover {
    background-color: #5B21B6;
}
.footer{
    padding: 50px;
    background-color: #2C313C;
}
.footer p{
    max-width: 1600px;
    margin: 0 auto;
    color: grey;
}
.reviews{
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 150px;
    background-color: #2C313C;
    padding: 50px;
    border-radius: 20px;
}
.reviews p{
    max-width: 350px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    
    
}
.reviews h4{
    max-width: 350px;
    margin: 0 auto;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    
    
}
.reviews-head{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #8B5CF6;
}
.reviews-text{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    color: white;
    font-size: 20px;
}